<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder.user }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder.user }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div [ngSwitch]="folder.user">
      <div *ngSwitchCase="'Cliente'">
        <app-movies-client></app-movies-client>
      </div>
      <div *ngSwitchCase="'Administrador'">
        <app-movies-admin></app-movies-admin>
      </div>
    </div>
  </div>
</ion-content>
