.container{
    width: 70%;
    max-width: 700px;
    height: 500px;
    margin-left: 15%;
    display: grid;
    text-align: center;
    font-size: 20px;

    ion-thumbnail {
        width: 150px;
        height: 200px;
    }
}
.element{
    height: 60px;
    width: 100%;
    margin:5% 0% 2% 0% ;
}
.tl{
   text-align: center;
   width: 100%;
   margin:5% 0% 2% 0% ;
   background-color: rgb(18, 18, 18);
   font-size: 30px;
}
.btn{
    width: 70%;
    height: 50px;
    margin:5% 0% 15% 15%;
    font-size: 20px;
    background:#3c91e6;
    color: white;
    border-radius: 30px;
}