<ion-title class="tl"><b>Registrar película</b></ion-title>

<div class="container">

  <ion-item class="element">
    <ion-label position="floating">Nombre</ion-label>
    <ion-input type="text" [(ngModel)]="data.nombre"></ion-input>
  </ion-item>

  <ion-item class="element">
    <ion-label position="floating">Duración (minutos)</ion-label>
    <ion-input type="number" [(ngModel)]="data.duracion"></ion-input>
  </ion-item>

  <ion-button class="btn" shape="round" (click)="search()" mode="ios">
    Buscar
  </ion-button>

  <ion-list *ngFor="let movie of moviesSearch">
    <ion-item button (click)="select(movie)">
      <ion-thumbnail slot="start">
        <ion-img [src]="movie.rutaImagen"></ion-img>
      </ion-thumbnail>
      <ion-label>{{movie.nombre}}</ion-label>
      <ion-text color="primary">
        <p>id: {{movie.idPelicula}}</p>
        <p>Duracion: {{movie.duracion}} minutos</p>
      </ion-text>
    </ion-item>
  </ion-list>


  <ion-title class="tl"><b>Peliculas Registradas</b></ion-title>

  <ion-list *ngFor="let movie of moviesAdded">
    <ion-item button (click)="presentAlertConfirm(movie)">
      <ion-thumbnail slot="start">
        <ion-img [src]="movie.rutaImagen"></ion-img>
      </ion-thumbnail>
      <ion-label>{{movie.nombre}}</ion-label>
      <ion-text color="primary">
        <p>id: {{movie.idPelicula}}</p>
        <p>Duracion: {{movie.duracion}} minutos</p>
      </ion-text>
    </ion-item>
  </ion-list>

</div>