<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Cinema</ion-list-header>
          <ion-note>{{plataforma}}</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="this.selectedIndex = i; getId(i)" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="labels-list">
          <ion-list-header>Rol: {{location}}</ion-list-header>
          <ng-template ngFor let-label [ngForOf]="labels" let-i="index">
            <ion-item button (click)="this.selectedIndexPage = i" lines="none" routerDirection="root" [routerLink]="[label.url]" lines="none" detail="false" [class.selected]="selectedIndexPage == i">
              <ion-icon *ngIf="label.title != 'Sillas'; else elseblock" slot="start" [name]="label.icon"></ion-icon>
              <ng-template #elseblock >
                <ion-icon slot="start" [src]="label.icon"></ion-icon>
              </ng-template>
              <ion-label>{{ label.title }}</ion-label>
            </ion-item>
          </ng-template>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
