<ion-grid>
  <ion-row>
    <ion-col *ngFor="let movie of movies">
      <ion-card button class="card" (click)="presentActionSheet(movie)">
        <ion-card-header>
          <ion-img [src]="movie.rutaImagen"></ion-img>
        </ion-card-header>
        <ion-card-content class="bodyCard">
          <ion-card-subtitle>{{movie.duracion}} minutos</ion-card-subtitle>
          <ion-card-title>{{movie.nombre}}</ion-card-title>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>