.card {
    width: 300px;
    transition: box-shadow .2s ease-in-out .5ms;
    &:hover {
        box-shadow: 1px 1px 4px 5px var(--ion-color-blue);
    }
    .bodyCard {
        text-align: left;
    }
}